/* CSS declarations go here */
/* General programatic helper classes go here, like hide, show etc... */
.hide {
	display:none;
}

.cue td.cue-number label{
	display: inline-block;
	text-align: right;
	color: red;
	width: 50px;
	white-space: normal;
	max-width: 25%;
	min-width: 25px;
}

.cue td {

}

.cue td.cue-label label{
	color: green;
}
.cue td.cue-description label{
	color: blue;
}
.cue td.cue-placement label {
	color: orange;
	max-width: 250px;
}

.controls {
	background: #eee;
}

.cue button.delete {
	color: red;
}


/* Table Style */
table.cue-stack {
	border-collapse: separate;
	border-spacing: 0;
}

table.cue-stack td {
	padding:0px;
	margin: 1px 0 3px 10px;
	border-bottom: solid red  1px;
	vertical-align: top;
}