<template name="navigation">
	<div class="nav">
    <ul>
      <li>
        <a href="{{ pathFor route='CueSheet'}}">Cue Sheet</a>
      </li>
      <li>
        <a href="{{ pathFor route='Instruments'}}">Instruments</a>
      </li>
      <li>
        <a href="{{ pathFor route='Account'}}">Account</a>
      </li>
      <li>
        <a href="{{ pathFor route='About'}}">About</a>
      </li>
      <li>
        <label class="menu-head">Reports</label>
        <ul class="menu">
           <a href="{{ pathFor route='PrintCues'}}">Cue Sheet</a>
        </ul>
      </li>
      <li>
        {{> loginButtons }}
      </li>
    </ul>
  </div>
</template>

<template name="goRegister">
  <div class="alert">
    <h2>Please register an account</h2>
    <a href="/Account/">Register Here</a>
  </div>
</template>